*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: inline-flex;
    align-items: center;
}
.logo h3{
    font-family:'Bungee Spice', sans-serif;
    padding-left: 10px;

}
header{
    background-color: #531516;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    flex-wrap: nowrap;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul a{
    display: flex;
    padding: 0 20px;
    text-decoration: none;
    color: white;

}
li a::after{
    content: "";
    display: inline-block;
    height: 4px;
    width: 0;
    background: orange;
    transition: all .5s;   
}
li a:hover::after{
    width: 100%;
}
header img{
    height: 50px;
    width: 50px;
}
.subutton{
    padding: 5px 5px;
    background: #d66b06;
    color: black;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    max-width: max-content;

}








.section1{
    display: flex;
    color: white;
    justify-content:space-between;
    background-color: #1b222c;
    height: max-content;
    padding: 50px 0;
}

.section1-right{
    display: flex;
    width: 50%;  
    justify-content: center;
}
.section1-right img{
    flex: 0;
    height: 300px;
    width: auto;

}
.section1-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section1-left h1{
    margin: 0 20px;
    text-align: center;
    font-size: 40px;
    font-family:'Bungee Spice', sans-serif;
    color: white;
    background-color: #12151c;
    border-radius: 10px;
    padding: 10px 20px;
}
.section1-left p{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: max-content;
}
.section1-left a{
    display: flex;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #531516;
    border-radius: 25px;
    font-size: 26px;
    padding: 5px 50px;
    max-width: max-content;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}








.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #12151c;
    height: max-content;
    color: white;
}
.monthholder{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}
.monthholder h3{
    display: flex;
    font-family:'Bungee Spice', sans-serif;
    font-size: 40px;
    background-color: #1b222c;
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
    margin-top: 30px;
}
.section2 img{
    height: 100px;
    background-color: #1b222c;
    border-radius: 25px;
    border: 3px solid #531516;
    padding: 5px 5px;
    flex-wrap: nowrap;
    margin-top: 30px;
}
.first2{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-around;
}
.first2 img{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100px;
}
.names1{
    text-align: center;
    display:inline-flex;
    flex-basis: 100%;
    justify-content: space-around;
    text-decoration: underline;
}
.names1 p{
    font-size: 20px;
}
.pictext1{
    text-align: center;
    display: inline-flex;
    flex-basis: 100%;
    justify-content: space-around;
}
.pictext1 p{
    padding: 0px;
    width: 150px;
}
.second2{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-basis: 100%;
}
.second2 img{
    width: 80px;
}
.pictext2{
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 30px;
}
.pictext2 p{
    text-align: center;
    width: 150px;
}
.names2{
    text-align: center;
    display:inline-flex;
    flex-basis: 100%;
    justify-content: space-around;
    text-decoration: underline;
}
.names2 p{
    font-size: 20px;
    width: 80px;
}






.section3{
    display: flex;
    flex-wrap: wrap;
    background-color: #661b1c;
    justify-content: center;
    align-items: center;
    height: auto;
}
.phil img{
    display: flex;
    height: auto;
    width: 250px;
    flex-basis: 25%;
}
.section3 h3{
    display: flex;
    font-family:'Bungee Spice', sans-serif;
    font-size: 34px;
    background-color: #1b222c;
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
}
.pholder{
    display: flex;
    margin-top: 30px;
    flex-basis: 100%;
    justify-content: center;
}
.phil{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    height: 400px;
    flex-grow: 0;
}
.phil p{
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    flex-basis: 65%;
    background-color: #1b222c;
    border-radius: 50px;
    padding: 30px 20px;
    text-align: center;
    color: white;
    border: 5px solid white;
    margin: 30px 0;
    margin-right: 10%;
    height: fit-content;
    width: fit-content;
    flex-grow: 0;
}
.section3 h6{
    display: flex;
    font-size: 24px;
    background-color: #1b222c;
    border-radius: 10px;
    color: white;
    align-items: flex-start;
    padding: 10px 10px;
}
.quote{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: flex-start;
    flex-basis: 100%;
    margin-right: 10%;
    margin-bottom: 30px;
}




.section4{
    background-color: #1b222c;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-around;
}
.box{
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color:#12151c;
    flex-basis: 90%;
    margin: 50px 0px;
    align-items: center;
    justify-content: space-between;
}
.catext{
    display: flex;
    flex-basis: 75%;
    justify-content:center;
}
.catext p{
    font-size: 30px;
    text-align: center;
}
.cabutton{
    display: flex;
    flex-basis: 25%;
    justify-content: left;
}
.cabutton a{
    text-decoration: none;
    background-color: #d66b06;
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-size: 26px;
    width: max-content;
}